@{
    ViewBag.Title = "Home";
}


<div class="jumbotron">
    <h1>Projeto Odonto</h1>
    <p>Neste projeto de WEBIII abordamos a capacidade de conexão com o banco de dados para inserção, edição e exclusão dos dados cadastrados através desta plataforma.</p>
</div>